__pycache__/
*.py[cod]
*$py.class
*.so
.Python
# env/ - НЕ игнорируем, нужна для Dockerfile в CI/CD
venv/
ENV/
.venv
*.log
logs/
media/
.env
.idea/
.vscode/
*.db
*.sqlite
.DS_Store
dist/
build/
*.egg-info/

